@model TravelReviewProject.Models.Reviews

@{
    ViewBag.Title = "Details";
}
<style>
    body {
        background-image: url("paper.gif");
        background-color: tan;
    }
</style>
<h4>Details</h4>


<div class="container">
    <div class="row">
        <div class="col-4">

@*print title and user content*@
            <h4> @Html.DisplayNameFor(model => model.Title)</h4>
            <p> @Html.DisplayFor(model => model.Title)</p>

@*//card with image, title and trip date properties//*@
            <div class="card">
                <img src="~/Images/safari5.jpg" />

                @*<div class="container">*@
                <p><b> @Html.DisplayNameFor(model => model.TripDate)</b></p>
                <p>@Html.DisplayFor(model => model.TripDate)</p>
            </div>
        </div>
        @*print trip reviews and ratings*@
        <div class="col-5">
            <p> @Html.DisplayNameFor(model => model.Content)</p><br>
            <p> @Html.DisplayFor(model => model.Content)</p><br>
            <p> @Html.DisplayNameFor(model => model.Stars) @Html.DisplayFor(model => model.Stars)<i class="fa fa-star-o"></i></p>
        </div>
        <div class="col-3">
            <img src="~/Images/africa map.png" />
        </div>

    </div>
</div>
       
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
